In [1]:
import pandas as pd
import datetime

In [2]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2022-06-04 13:11:28.558422
1  2022-06-03 13:11:28.558422
2  2022-06-02 13:11:28.558422
3  2022-06-01 13:11:28.558422
4  2022-05-31 13:11:28.558422
5  2022-05-30 13:11:28.558422
6  2022-05-29 13:11:28.558422
7  2022-05-28 13:11:28.558422
8  2022-05-27 13:11:28.558422
9  2022-05-26 13:11:28.558422
10 2022-05-25 13:11:28.558422
11 2022-05-24 13:11:28.558422
12 2022-05-23 13:11:28.558422
13 2022-05-22 13:11:28.558422
14 2022-05-21 13:11:28.558422
15 2022-05-20 13:11:28.558422
16 2022-05-19 13:11:28.558422
17 2022-05-18 13:11:28.558422
18 2022-05-17 13:11:28.558422
19 2022-05-16 13:11:28.558422

In [7]:
import calendar
df['day_of_week'] = df['day'].dt.strftime("%A")
df.head()

                         day day_of_week
0 2022-06-04 13:11:28.558422    Saturday
1 2022-06-03 13:11:28.558422      Friday
2 2022-06-02 13:11:28.558422    Thursday
3 2022-06-01 13:11:28.558422   Wednesday
4 2022-05-31 13:11:28.558422     Tuesday

In [8]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2022-06-04 13:11:28.558422    Saturday            6
1  2022-06-03 13:11:28.558422      Friday            5
2  2022-06-02 13:11:28.558422    Thursday            4
3  2022-06-01 13:11:28.558422   Wednesday            3
4  2022-05-31 13:11:28.558422     Tuesday            2
5  2022-05-30 13:11:28.558422      Monday            1
6  2022-05-29 13:11:28.558422      Sunday            7
7  2022-05-28 13:11:28.558422    Saturday            6
8  2022-05-27 13:11:28.558422      Friday            5
9  2022-05-26 13:11:28.558422    Thursday            4
10 2022-05-25 13:11:28.558422   Wednesday            3
11 2022-05-24 13:11:28.558422     Tuesday            2
12 2022-05-23 13:11:28.558422      Monday            1
13 2022-05-22 13:11:28.558422      Sunday            7
14 2022-05-21 13:11:28.558422    Saturday            6
15 2022-05-20 13:11:28.558422      Friday            5
16 2022-05-19 13:11:28.558422    Thursday            4
17 2022-05-18 13:11:28.558422   Wednesday            3
18 2022-05-17 13:11:28.558422     Tuesday            2
19 2022-05-16 13:11:28.558422      Monday            1